#!/usr/bin/make -f
export PYBUILD_NAME=katzenpost_thinclient

export SOURCE_DATE_EPOCH ?= $(shell dpkg-parsechangelog -STimestamp)

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	:

CRATE := katzenpost_thin_client
CRATE_VER := $(shell dpkg-parsechangelog -SVersion)
CRATE_DIR := usr/share/cargo/registry/$(CRATE)-$(CRATE_VER)
RUST_PKG := debian/librust-katzenpost-thin-client-dev

override_dh_auto_install:
	dh_auto_install
	install -d $(RUST_PKG)/$(CRATE_DIR)
	cp -a Cargo.toml Cargo.lock src $(RUST_PKG)/$(CRATE_DIR)/
	printf '{"files":{},"package":null}' \
	    > $(RUST_PKG)/$(CRATE_DIR)/.cargo-checksum.json
